apiVersion: v1
kind: Secret
metadata:
  name: cifs-csi-credentials
type: Opaque
stringData:
  username: synology-csi  # DSM user account accessing the shared folder
  password: "***" # DSM user password accessing the shared folder
